:root{
    --black: var(--black);
}
body{
    font-family: Helvetica, sans-serif;
}
.header-top{
    height: 30px;
}
.logo img{
  width: 60px
}
.bg-black{
    background-color: var(--black);
    color: white;
}
.bg-img{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}
.banner-logo{
    width: 250px;
}
@media screen and (max-width:991.98px) {
    .banner-logo{
        width: 350px;
    }
}
.jumbotron .row{
    height: 90%;
}
.text-white{
    color: white;
}
.my_thumb{
    width: 100%;
    padding: 3px;
}
.rounded-4{
    border-radius: 1rem;
}
.my_thumb:hover{
    cursor: pointer;
}
.my_thumb:active {
    box-shadow: 0 0 0 4px skyblue;
}
.fs-7{
    font-size: 0.7em;
    font-weight: 600;
}
.mt-6{
    margin-top: 6rem;
}