:root{
    --black: var(--black);
}
body{
    font-family: Helvetica, sans-serif;
}
.header-top{
    height: 30px;
}

/* Background */
.bg-black{
    background-color: var(--black);
    color: white;
}
.bg-img{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
.first-banner{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
.second-banner{
    background-color: #bebcbb ;
    height: 400px;
}
.third-banner{
    background-color: #161c3b ;
    height: 400px;
}
.bg-footer{
    background-color: #00439c ;
}
/* Jumbotron */
.jumbo-logo{
    width: 250px;
}

.jumbotron .row, 
.first-banner .row, 
.second-banner .row,
.third-banner .row{
    height: 100%;
}
/* IMG */
.logo img{
    width: 60px
  }
.my_thumb{
    width: 100%;
    padding: 3px;
}
.thumb{
    width: 100%;
}
.plus-thumb{
    height: 400px;
}
.thumb-footer{
    width: 3%;
    margin-right: 5px;
}
.sony-footer{
    width: 20%;
}
/* Add BS class */
.rounded-4{
    border-radius: 1rem;
}
.my_thumb:hover{
    cursor: pointer;
}
.my_thumb:active {
    box-shadow: 0 0 0 4px skyblue;
}
.fs-7{
    font-size: 0.7em;
    font-weight: 600;
}
.mt-6{
    margin-top: 6rem;
}
.py-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.btn-primary, .btn-danger, .btn-light{
    border: 0;
}
/* MediaQ */

@media screen and (max-width:991.98px) {
    .banner-logo{
        width: 350px;
    }
}

